

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="one"> 
          <div class="hello">
            <form>
                <h4 id="head">WELCOME TO MM BANK<br>
                <h6>register</h6></h4>
                <input type="text" class="form-control form-control-lg " id="acno" [(ngModel)]="uname" name="username" placeholder="enter user name"><br>
            <input type="text" class="form-control form-control-lg " id="acno" [(ngModel)]="acno" name="accountno" placeholder="enter account number"><br>
            <input type="password" class="form-control form-control-lg" id="pwd" [(ngModel)]="pswd" name="password" placeholder="enter password"><br>
           
            <div class="moon"></div>
            <button id="six" (click)="register()"><h6><b>Create New Account</b></h6></button><br>
            </form>
         </div>
         </div>
        </div>
        <div class="col-4"></div>
    </div>
  </div>
  
